<update-title title="{{'hybrid_meta_title' | translate}}"></update-title>
<update-meta name="description" content="{{'hybrid_meta_description' | translate}}"></update-meta>

<div id="hybrid_page">

  <!-- Banner Section -->
  <div class="service-banner">
    <img ng-src="images/services/{{'Services_bannerimage' | translate}}.jpg" 333 class="img-responsive" alt="{{'Services_imagetext' | translate}}">
    <h1 class="banner_text">{{'Services_heading1' | translate}}<br><br>{{'Services_heading2' | translate}}</h1>
  </div>
  <!--End of Banner Section -->

  <section id="hybrid">

    <!-- Title And Sub-Title Sction -->
    <div layout-align="center center" layout="column" class="title_section">
      <div class="scroll_down" layout-align="center" layout="row">
        <md-icon md-svg-icon="images/icons/ic_keyboard_arrow_down_black_48px.svg" id="down" du-smooth-scroll="down" offset="30" duration="800"></md-icon>
      </div>
      <h1 layout-align="center" layout="row">{{'Hybrid_title' | translate}}</h1>
      <p>{{'Hybrid_description' | translate}}</p>
    </div>
    <!-- End of Title And Sub-Title Sction -->


    <!-- Icon layout -->
    <div layout-align="center " layout="row" layout-xs="column" flex="60" flex-offset="20" flex-xs="70" flex-offset-xs="15">
      <div layout="row" flex="40" flex-xs="100">
        <div flex="50" class="service_icon_wrapper" ng-repeat="element in [0, 1]">
          <img ng-src="images/services/hybrid/{{ 'Hybrid_categories.'+ element +'.icon_img' | translate }}.png" class="img-responsive service-icon" alt="{{ 'Hybrid_categories.'+ element +'.desc' | translate }}" ng-click="smoothScroll(element)">
          <br>
          <span class="icon-text">{{ 'Hybrid_categories.'+ element +'.desc' | translate }}</span>
        </div>
      </div>
      <div layout="row" flex="60" flex-xs="100">
        <div flex="33" class="service_icon_wrapper" ng-repeat="element in [2, 3, 4]">
          <img ng-src="images/services/hybrid/{{ 'Hybrid_categories.'+ element +'.icon_img' | translate }}.png" class="img-responsive service-icon" alt="{{ 'Hybrid_categories.'+ element +'.desc' | translate }}" ng-click="smoothScroll(element)">
          <br>
          <span class="icon-text">{{ 'Hybrid_categories.'+ element +'.desc' | translate }}</span>
        </div>
      </div>
    </div>


    <!--Description rows-->
    <div layout="column" layout-align="center center" class="description_row" ng-repeat="element in [0, 1, 2, 3, 4]">

      <!--White rows show on even numbers-->
      <div layout="column" ng-if="element%2==0">
        <div layout="column" layout-align="center center">
          <h2 class="description_header"> {{ 'Hybrid_categories.'+ element +'.desc' | translate }}</h2>
        </div>
        <div layout="row" layout-align="center center" layout-sm="column" layout-xs="column" layout-margin>
          <div flex="10" flex-sm="100" flex-xs="100">
            <img ng-src="images/services/hybrid/{{'Hybrid_categories.' + element +'.text_img' | translate}}.png" class="leave" alt="{{'Hybrid_categories.'+ element +'.desc' | translate}}">
          </div>
          <div flex="0" flex-md="5" flex-sm="0" flex-xs="0"></div>
          <div flex="40" flex-sm="90" flex-xs="90">
            <p class="description_text">{{'Hybrid_categories.'+ element + '.text' | translate}}</p>
          </div>
        </div>
      </div>

      <!--Grey rows show on odd-->
      <div layout="column" ng-if="element%2!=0" class="dark_row">
        <div layout="column" layout-align="center center">
          <h2 class="description_header"> {{ 'Hybrid_categories.'+ element +'.desc' | translate }}</h2>
        </div>
        <div layout="row" layout-align="center center" layout-sm="column" layout-xs="column" layout-margin>
          <div flex="40" layout-sm="column" flex-sm="90" flex-xs="90" flex-order="1">
            <p class="description_text">{{'Hybrid_categories.'+ element + '.text' | translate}}</p>
          </div>
          <div flex="0" flex-md="5" flex-sm="0" flex-xs="0" flex-order="2"></div>
          <!--Two divs for the image, the xs shows right below the title, anything else appears to the right as it should-->
          <div flex="10" flex-sm="100" flex-xs="100" flex-order="3" hide-sm hide-xs show-gt-sm>
            <img ng-src="images/services/hybrid/{{'Hybrid_categories.' + element +'.text_img' | translate}}.png" class="leave" alt="{{'Hybrid_categories.'+ element +'.desc' | translate}}">
          </div>
          <div flex="10" flex-sm="100" flex-xs="100" flex-order="0" show-sm hide-gt-sm>
            <img ng-src="images/services/hybrid/{{'Hybrid_categories.' + element +'.text_img' | translate}}.png" class="leave" alt="{{'Hybrid_categories.'+ element +'.desc' | translate}}">
          </div>
        </div>
      </div>

    </div>


    <!--Circular number counters-->
    <div id="wd_in_number_hybrid">
      <div class="wd_in_number_inner">
        <md-list class="progress_row" layout="row" layout-align="center" layout="row" layout-align="center" layout-wrap ng-init="prog_items=[0, 1, 2, 3]">
          <md-list-item flex="20" flex-sm="50" flex-md="40" flex-xs="100" ng-repeat="item in prog_items">
            <div class="progress-wrapper hide_progress">
              <div class="hybrid_progress" ng-style="getStyle()">{{'hybrid_progress_row.'+ item +'.current' | translate}}{{'hybrid_progress_row.'+ item +'.suffix' | translate}}</div>
              <div round-progress id="circle_bar" max="'hybrid_progress_row.'+ item +'.max' | translate" current="'hybrid_progress_row.'+ item +'.current' | translate" color="{{ getColor() }}" bgcolor="{{ bgColor }}" radius="{{ radius }}" semi="isSemi" rounded="rounded"
                  stroke="{{ stroke }}" clockwise="clockwise" responsive="responsive" duration="{{ duration }}" offset="{{ offset }}" animation-delay="{{ animationDelay }}" on-render="showPreciseCurrentss">
              </div>
              <p class="wd_number">{{'hybrid_progress_row.'+ item +'.name' | translate}}</p>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>


    <!--Let us know about our project -->
    <a ui-sref="{{'about_project_link'|translate}}">
      <div flex id="endRow" class="app_row" layout="column" layout-align="center center">
        <h2 class="app_header" layout-margin> {{'about_project'|translate}} <img ng-src="images/services/{{'about_project_arrow' | translate}}.png" alt="&rarr;"></h2>
      </div>
    </a>

  </section>
</div>
