
/*-----programming language page styling starts---------*/
/*Banner Section*/
.database_banner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 350px;
    margin-top: 60px;
}

.database_banner img {
    width: 100%;
    height: 100%;
}

.database_banner .db_banner_text {
    font-family: GeosansLight;
    position: absolute;
    top: 100px;
    text-align: center;
    color: #fff;
    width: 100%;
}
/*Banner Section Ends*/

/*Title And Sub-Title Sction*/
#databases_page section {
    position: relative;
    margin-top: 387px;
    background-color: #fff;
}

 #databases_page .databases_tab{
   text-align: center;
 }

.scroll_down {
    width: 78px;
    height: 78px;
    margin-top: -40px;
    border-radius: 100%;
    background-color: #fff;
}

#databases_page md-icon {
    margin-top: 10px;
    height: 36px;
    width: 36px;
}

#databases_page md-icon svg {
    fill: #549db9;
}

.db_title_section h1 {
    font-family: 'GeosansLight';
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
}

.db_title_section p {
    font-family: 'Open_sanslight';
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #484743;
    width: 75%;
    margin-bottom: 20px;
}
/*Title And Sub-Title Sction Ends*/

/*Customized md-tab*/
.databases_tab md-content {
    height: 140px;
    overflow: visible;
}

#databases_page .databases_tab md-content md-tabs md-tabs-canvas {
    height: 80px;
    margin-bottom: 25px;
}

#databases_page md-pagination-wrapper {
    position: relative;
    width: 560px !important;
    margin: 0 auto;
    margin-top: 5px;
}

#databases_page .md-tab {
    overflow: visible;
    width: 50px;
    height: 50px;
    margin: 0 102px;
    border-radius: 100%;
    background-color: #549db9;
}

#databases_page .md-tab:nth-child(1){ margin-left: 0px;}
#databases_page .md-tab:nth-child(3){ margin-right: 0px;}


#databases_page md-tabs[md-border-bottom] md-tabs-wrapper {
    border-style: none;
}

#databases_page md-ink-bar {
    height: 0;
}



#databases_page md-tabs .md-tab.md-active .service-icon,
#databases_page md-tabs .md-tab.md-focused .service-icon {
    color: transparent !important;
    border: 2px solid #fff;
    border-radius: 100%;
}

#databases_page [role='tabpanel'] {
    -webkit-transition: none;
    transition: none;
}

#databases_page md-tabs .md-tab .md-ripple-container {
    display: none;
}

#databases_page md-tab-content.md-left:not(.md-active) * {
    visibility:hidden;
}

#databases_page md-tab-content.md-right:not(.md-active) * {
    visibility: visible;
}

#databases_page .md-tab:hover {
    box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
}
/*Customized md-tab Ends*/


/*Customize icons*/

/* End of icon customization*/

.db_icon_text {
    font-family: 'Open_sanslight';
    font-size: 14px;
    color: #333333;
    position: absolute;
    width: 260%;
    left: -80%;
    margin-top: 40px;
}

#databases_box{
  margin-bottom: 40px;
}
#databases_box #databases_container {
  margin-bottom: 40px;
  max-width: 960px;
  margin: 0 auto;
}


#databases_box:nth-child(2n+1){
  background-color: #fafafa;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

#databases_box:nth-child(2n+1) .databases_item{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;

}



/*language_box customization */
#databases_box h2{
  color: #63BAA7;
  font-family: 'GeosansLight';
}

#databases_box p{
  font-family: 'Open_sanslight';
  font-size: 15px;
  line-height: 22px;
  text-align:left;
  color: #484743;
  padding-left: 40px;
  padding-right: 40px;
}

#databases_box #image{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------------*/

/* About projects */
#aboutProject_databases{
  background-color: #549db9;
  height: 90px;
  text-align: center;
}

#aboutProject_databases h2{
  line-height: 45px;
  letter-spacing: 2px;
  font-size: 170%;
  color: white;
  font-family: GeosansLight;

}

#aboutProject_databases img{
  position: relative;
  left: 10px;
}
/*About projects ends*/



/*Responsive Desgin */
@media only screen and (max-width:1023px) {
    .database_banner .db_banner_text {
        font-size: 26px;
        top: 28%;
    }

    #databases_page .md-tab:nth-child(n+6) {
        margin-top: 60px;
        position: relative;
        left: 0px;
    }

    #databases_page .databases_tab md-content md-tabs md-tabs-canvas {
        height: 80px;
        margin-bottom: 0px;
    }

    #databases_page .databases_tab md-content {
        margin-bottom: 30px;
        height: 130px;
    }

    #databases_page .md-tab {
        overflow: visible;
        width: 50px;
        height: 50px;
        margin: 0 102.5px;
        border-radius: 100%;
        background-color: #549db9;
    }

    #databases_page .md-tab:nth-child(1){ margin-left: 0px;}
    #databases_page .md-tab:nth-child(3){ margin-right: 0px;}


    #databases_page md-pagination-wrapper {
        position: relative;
        width: 560px !important;
        margin: 0 auto;
        margin-top: 5px;
    }


}


@media only screen and (max-width:959px) {
    .databases_tab md-content {
        height: 100%;
    }
    #databases_box p {
        padding: 0 40px;
    }

    #databases_page .md-tab:nth-child(1){ margin-left: 0px;}
    #databases_page .md-tab:nth-child(3){ margin-right: 0px;}


    #databases_page md-pagination-wrapper {
        width: 560px !important;
        margin-top: 5px;
    }

    #databases_page .md-tab {
        margin: 0 102.5px;
    }

    #databases_box:nth-child(n+1){
        -webkit-flex-direction:column;
          -ms-flex-direction:column;
              flex-direction:column;
    }

    #databases_box:nth-child(n+1) .databases_item{
      -webkit-flex-direction:column;
          -ms-flex-direction:column;
              flex-direction:column;
    }

    #databases_box #image{
      margin-bottom: 20px;
    }

}

@media only screen and (max-width:870px) {
    .database_banner .db_banner_text {
        font-size: 24px;
        top: 25%;
        padding: 20px;
    }

    #databases_page .md-tab:nth-child(1){ margin-left: 0px;}
    #databases_page .md-tab:nth-child(3){ margin-right: 0px;}

    #databases_page md-pagination-wrapper {
        width: 560px !important;
        margin-top: 5px;
    }
    #databases_page .md-tab {
        margin: 0 102.5px;
    }
}


@media only screen and (max-width:767px) {
    .database_banner .db_banner_text {
        font-size: 24px;
        top: 25%;
        padding: 20px;
    }

    #databases_page .md-tab:nth-child(1){ margin-left: 0px;}
    #databases_page .md-tab:nth-child(3){ margin-right: 0px;}

    #databases_page md-pagination-wrapper {
        width: 500px !important;
        margin-top: 5px;
    }
    #databases_page .md-tab {
        margin: 0 87.5px;
    }

}

@media only screen and (max-width:599px) {
    .database_banner .db_banner_text {
        font-size: 20px;
        top: 25%;
        padding: 20px;
    }

    #databases_page .md-tab:nth-child(1){ margin-left: 0px;}
    #databases_page .md-tab:nth-child(3){ margin-right: 0px;}

    #databases_page md-pagination-wrapper {
        width: 380px !important;
        margin-top: 5px;
    }


    #databases_page .md-tab {
        margin: 0 57.5px;
    }

    #databases_page .databases_tab md-content md-tabs md-tabs-canvas {
        height: 200px;
        margin-bottom: 25px;

    }

    .databases_tab md-content {
        height: 500px;
        overflow: visible;
        margin-bottom: 25px;
    }

}

@media only screen and (max-width:479px) {
    .database_banner {
        height: 230px;
    }
    .database_banner .db_banner_text {
        font-size: 18px;
        top: 20%;
    }
    #databases_page section {
        margin-top: 280px;
    }

    #databases_page .md-tab:nth-child(1){ margin-left: 0px;}
    #databases_page .md-tab:nth-child(3){ margin-right: 0px;}

    #databases_page md-pagination-wrapper {
        width: 280px !important;
        margin-top: 5px;
    }

    #databases_page .databases_tab md-content md-tabs md-tabs-canvas {
        height: 200px;
        margin-bottom: 25px;

    }

    .databases_tab md-content {
        height: 500px;
        overflow: visible;
        margin-bottom: 25px;
    }

    #databases_page .md-tab {
        margin: 0 32.5px;
    }



}

@media only screen and (max-width:359px) {
    .database_banner .db_banner_text {
        top: 15%;
    }

    #aboutProject_databases h2{
      line-height: 45px;
      letter-spacing: 1px;
      font-size: 150%;
      color: white;
      font-family: GeosansLight;

    }



}
